header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 0.5em;
}

.websiteHeader {
    flex: 1;
    float: left;
    line-height: 1;
    text-decoration: none;
    font-size: 40px;
}

#navLinks a{
    float: right;
    margin-right: 1em;
    display: flex;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

#navLinks a:hover {
    background: #85858586;
    color: black;
}

#currentButton {
    background-color: #92e0c8;
    color: black;
    cursor: pointer;
}

#otherButton {
    color: white;
    cursor: pointer;
}

#offScreenMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    height: 100%;
    width: 100%;
    max-width: fit-content;
    padding-left: 2em;
    padding-right: 2em;
    position: fixed;
    top: 0;
    right: -450px;
    transition: 0.3s ease;
}

#offScreenMenu.active {
    right: 0;
}

.smallMenuItem {
    text-decoration: none;
    margin-bottom: 5px;
    color: white;
}

#other:hover {
    color: rgb(139, 139, 139);
    transition: background-color 0.2s ease-out;
}

body {
    position: relative;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0em 1em;
    line-height: 1.7;
}

h1, h2 {
    flex: 1 100%;
    text-align: center;
}

#link {
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
}

footer h3 {
    text-align: center;
}

.footerLinks {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.footerItem {
    flex: 1;
    background-color: #174a43;
    text-align: center;
    color: white;
    margin-right: 0.5em;
    margin-left: 0.5em;
    padding: 0.5em 0.5em;
}

.footerItem:hover {
    background-color: #032d27;
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    transition: scale 0.5s ease-out;
}

#button {
    background-color: #92e0c8;
    padding: 0.5em 0.5em;
    align-items: left;
}

.firstContentWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.secondContentWrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.illustrationHome {
    flex: 1;
    width: 100%;
    height: 100%;
}

.biographyHome {
    flex: 1;
    background-color: #92e0c8;
    color: black;
    padding: 1.5em 1.5em;
}

.arrow {
    cursor: pointer;
    transform: rotate(135deg);
    margin: 50px 20px;
    width: 50px;
    height: 50px; 
    float: right;
    background: #92e0c8;
    transition: 0.5s;
}

.arrow:after {
    content: '';
    width: 50px;
    height: 50px;
    background: black;
    position: absolute;
    left: 3px;
    top: 3px;
}

.arrow:hover {
    transform: translateX(10px) rotate(135deg);
}

.activityRow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
}

#activityItem1 {
    flex: 1;
    background-color: #174a43;
    padding: 2em 2em;
    text-align: center;
    margin-right: 1em;
}

#activityItem1:hover {
    background-color: #032d27;
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    transition: scale 0.5s ease-out;
}

#activityItem2 {
    flex: 1;
    background-color: #92e0c8;
    padding: 2em 2em;
    text-align: center;
    margin-right: 1em;
    color: black;
}

#activityItem2:hover {
    background-color: #4a9780;
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    transition: scale 0.5s ease-out;
}

#activityItem3 {
    flex: 1;
    background-color: white;
    padding: 2em 2em;
    text-align: center;
    color: black;
}

#activityItem3:hover {
    background-color: rgb(189, 189, 189);
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    transition: scale 0.5s ease-out;
}

.illustrationProfile {
    flex: 1 100%;
    width: 100%;
    height: 100%;
    margin-left: 25em;
    margin-right: 25em;
}

.h-card {
    flex-basis: 70%;
    background-color: #92e0c8;
    padding: 2em 2em;
    color: black;
}

#cvPart1 {
    flex: 1 1 0px;
    background-color: white;
    padding: 2em 2em;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

#cvPart2 {
    flex: 1 1 0px;
    background-color: white;
    padding: 2.4em 2.4em;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.portfolio {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
}

.portfolioItem {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 2em 2em;
    height: 3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#portfolioItem1, #portfolioItem4 {
    background-color: #174a43;
}

#portfolioItem1:hover, #portfolioItem4:hover {
    background-color: #032d27;
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    transition: scale 0.5s ease-out;
}

#portfolioItem2 {
    background-color: #92e0c8;
    color: black;
}

#portfolioItem2:hover {
    background-color: #4a9780;
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    transition: scale 0.5s ease-out;
}

#portfolioItem3 {
    background-color: white;
    color: black;
}

#portfolioItem3:hover {
    background-color: rgb(189, 189, 189);
    transform: scale(1.05);
    cursor: pointer;
    transition: background-color 0.5s ease-out;
    transition: scale 0.5s ease-out;
}

.essayLinks {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.h-entry {
    flex: 1 100%;
    margin-top: 10px;
    padding: 1em 1em;
    align-items: left;
}

.h-entry:hover {
    transform: scale(1.05);
    cursor: pointer;
    transition: scale 0.5s ease-out;
}

.entry-title {
    text-align: left;
}

#entry1, #entry4, #entry7, #entry10 {
    background-color: #174a43;
}

#entry1:hover, #entry4:hover, #entry7:hover, #entry10:hover {
    background-color: #032d27;
    transition: scale 0.5s ease-out;
}

#entry2, #entry5, #entry8, #entry11 {
    background-color: #92e0c8;
    color: black;
}

#entry2:hover, #entry5:hover, #entry8:hover {
    background-color: #4a9780;
    transition: scale 0.5s ease-out;
}

#entry3, #entry6, #entry9 {
    background-color: white;
    color: black;
}

#entry3:hover, #entry6:hover, #entry9:hover {
    background-color: rgb(189, 189, 189);
    transition: scale 0.5s ease-out;
}

#essay1 {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

#blogLinks {
    width: 80%;
}

.entry-content {
    flex-basis: 70%;
    background-color: white;
    color: black;
    padding: 1.5em 1.5em;
}

.wireframeImageRow {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.wireframeImage {
    flex: 1;
    padding: 5px;
}

#wireframe {
    width: 100%;
}

#portfolioScreeshot {
    flex: 1 30%;
    width: 100%;
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
}

.Navigation-Buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5em;
}

.Back-to-Blogs {
    flex: 1 100%;
    background-color: #92e0c8;
    text-align: center;
    margin-bottom: 5px;
}

.Back-to-Blogs:hover {
    background-color: #4a9780;
    transition: scale 0.5s ease-out;
}

#blogs {    
    text-decoration: none;
    color: black;
    padding-bottom: 5px;    
}

.Next-Or-Previous-Blog {
    display: flex;
    width: 100%;
}

#previous {
    flex: 1;
    background-color: #174a43;
    text-decoration: none;
    color: white;
    padding: 2px;
    margin-right: 0.25em;
    text-align: center;
}

#previous:hover {
    background-color: #032d27;
    transition: scale 0.5s ease-out;
}

#next {
    flex: 1;
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 2px;
    margin-left: 0.25em;
    text-align: center;
}

#next:hover {
    background-color: rgb(189, 189, 189);
    transition: scale 0.5s ease-out;
}

#blogImage {
    width: 100%;
}

@media screen and (max-width: 400px) {
    .websiteHeader {
        flex: 1;
        float: left;
        line-height: 1;
        text-decoration: none;
        font-size: 20px;
        padding-top: 0.2em;
    }
}

@media screen and (max-width: 1040px) {
    #navLinks {
        display: none;
    }

    .hamburger {
        width: 30px;
        height: 30px;
        margin-left: auto;
        position: relative;
        margin-right: 2em;
    }
    
    .hamburger span {
        height: 2px;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        transition: 0.3s ease;
    }
    
    .hamburger span:nth-child(1) {
        top: 25%
    }
    
    .hamburger span:nth-child(3) {
        top: 75%
    }

    .hamburger.active span:nth-child(1) {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active span:nth-child(3) {
        top: 50%;
        transform: translate(-50%, 50%) rotate(-45deg);
    }
    
    .illustrationHome {
        flex: 1 100%;
    }

    .biographyHome {
        flex: 1 100%;
    }

    .arrow {
        width: 10px;
        height: 10px;
    }

    .activityRow {
        width: 95%;
    }

    #activityItem1 {
        flex: 1 100%;
        margin-right: 0;
        margin-bottom: 1em;
    }
    
    #activityItem2 {
        flex: 1 100%;
        margin-right: 0;
        margin-bottom: 1em;
    }
    
    #activityItem3 {
        flex: 1 100%;
        margin-right: 0;
        margin-bottom: 1em;
    }

    .footerItem {
        flex: 1 100%;
        margin-right: 0;
        margin-left: 0;
        margin-bottom: 1em;
        padding: 0.5em 0.5em;
    }

    .illustrationProfile {
        flex: 1 100%;
        width: 100%;
        height: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .h-card {
        flex: 1;
    }

    #cvPart1 {
        flex: 1 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    
    #cvPart2 {
        flex: 1 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .portfolioItem {
        flex: 1 100%;
        margin-bottom: 0.5em;
        margin-left: 0em;
        margin-right: 0em;
    }

    #blogLinks {
        width: 100%;
    }

    .entry-content {
        flex-basis: 100%;
    }

    .wireframeImage {
        flex: 1 100%;
    }

    .Navigation-Buttons {
        width: 100%;
    }

    #previous {
        flex: 1 100%;
    }
    
    #next {
        flex: 1 100%;
    }
}