body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    padding: 0.5em;
}

main {
    margin-top: 4em;
} 

.websiteHeader {
    display: block;
    float: left;
    line-height: 1;
    text-decoration: none;
    font-size: 40px;
}

#mainNav a{
    float: right;
    display: block;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

#mainNav a:hover {
    background: #85858586;
    color: black;
}

#homeButton {
    background-color: #92e0c8;
    color: black;
}

#otherButton {
    color: white;
}

h1 {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: left;
    background-color: black;
    color: white;
    padding: 0.5em 0.5em;
    width: fit-content;
}

#postEntry {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: left;
    width: 70%;
    background-color: white;
    color: black;
    padding: 1em 1em;
}

#blogImage {
    display: block;
    width: 70%;
}

.wireframeRow {
    display: flex;
}

.wireframeImage {
    flex: 50%;
    padding: 5px;
}

#wireframe {
    display: block;
    width: 100%;
}

#styleGuide {
    display: block;
    width: 100%;
}

#Blog-Post-1-Link, #Blog-Post-4-Link, #Blog-Post-7-Link, #Log-1-Link, #Log-4-Link{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    display: block;
    background-color: #92e0c8;
    color: black;
    width: 90%;    
    padding: 0.05em 1em;
}

#Blog-Post-2-Link, #Blog-Post-5-Link, #Blog-Post-8-Link, #Log-2-Link, #Log-5-Link{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    display: block;
    background-color: white;
    color: black;
    width: 90%;    
    padding: 0.05em 1em;
}

#Blog-Post-3-Link, #Blog-Post-6-Link, #Blog-Post-9-Link, #Log-3-Link{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
    display: block;
    background-color: #174a43;
    color: white;
    width: 90%;    
    padding: 0.05em 1em;
}

#link {
    text-decoration: none;
}